

server:
  port: 80


eureka:
  client:
    register-with-eureka: true #向注册中心注册自己
    fetch-registry: true # 是否从Eureka抓取已有的注册信息，默认为true 集群必须为true才能配合ribbon使用负载均衡
    service-url:
      #注册中心的地址
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/
  instance:
    prefer-ip-address: true
    instance-id: Customer-Order
spring:
  application:
    name: Customer-Order-80